fastapi[standard]
uvicorn[standard]
pytest
pydantic
pytest-asyncio
httpx
scikit-learn
numpy
mlflow
psycopg2-binary
alembic
asyncpg
pgmigrate
aiokafka
redis
python-dotenv
prometheus-client
prometheus-fastapi-instrumentator
sentry-sdk[fastapi] 